version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    cooldown:
      default-days: 7
    schedule:
      interval: "weekly"
      day: "wednesday"

  - package-ecosystem: "github-actions"
    directory: ".github/workflows/"
    cooldown:
      default-days: 7
    schedule:
      interval: "weekly"
      day: "wednesday"
