<!DOCTYPE html>
<html lang="en">
  {{#with policy}}
  <head>
    <meta charset="utf-8" />
    <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\" />
    <title>Policy {{program}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-100 md:flex md:justify-center">
    <div class="w-full m-8">
      <h1 class="text-4xl font-bold mb-8">
        <a href="/policies" class="text-blue-600 visited:text-purple-600"
          >Policies</a
        >
        > {{program}}
      </h1>
      <div class="bg-white shadow-md rounded px-8 pt-8 pb-8 mb-8">
        <div>{{num_participants}} participants</div>
        <ol start="0" class="list-decimal mb-8">
          {{#each participants}}
          <li class="ml-8"><pre>{{this}}</pre></li>
          {{/each}}
        </ol>
        <div>Own Role: <strong>Party {{party}}</strong></div>
        <div>Leader: <strong>Party {{leader}}</strong></div>
        <pre class="mt-8 text-slate-500"><code>{{code}}</code></pre>
      </div>
    </div>
  </body>
  {{/with}}
</html>
